<!DOCTYPE html>
<html>
	<head>
		<title>LoBue | Biography</title>
	</head>
	<body>
		<h1>Biography</h1>
		</br>
		<ol>
		<li><a href="/">Homepage</a></li>
		<li><a href="/vacations">Vacations</a></li>
		<li><a href="/hobbies">Hobbies</a></li>
	</ol>

		<p>Hi, my name is Nicholas LoBue. I was born in and have lived in New Jersey all of my life. I have 4 brothers and have played soccer since I was 5 years old, in which I still enjoy playing from time to time now. I came to Marist due to the fact that it was relatively close to my house, the abroad program, and the Business program. I hope one day work on Wall Street or start my own business; however, life is hard and I still am not too sure what I really want to do in life. My goal is to ultimately retire by the time I am 40 or 50 and have enough passive income to live my life in comfortable luxury. Other than that, enjoy your time on my page :).</p>
	</body>
</html>