<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
		<title>LoBue | Home</title>
	</head>
	<body>
		<h1>Hello, Stranger!</h1>	
		<h2>This is my webpage, enjoy your stay!</h2>

		</br>
		<ol>
		<li><a href="/biography">Biography</a></li>
		<li><a href="/vacations">Vacations</a></li>
		<li><a href="/hobbies">Hobbies</a></li>
	</ol>

	
		
	</body>
</html>