<!DOCTYPE html>
<html>
	<head>
		<title>LoBue | Vacations</title>
	</head>
	<body>
		<h1>Vacations</h1>		
		</br>
		<ol>
		<li><a href="/">Homepage</a></li>
		<li><a href="/biography">Biography</a></li>
        <li><a href="/hobbies">Hobbies</a></li>
	</ol>
	</body>
	<p>I have Vacationed in lots of places such as: Bermuda, Bahamas, Turks and Caicos, Florida, Columbia, St. Thomas, Costa Rica, and Italy. Also, I have been to Nicaragua for a mission trip with my school, which was by far one of the most educational and best trips I have ever been on due to the fact that I saw people who are less fortunate than us in America, but still just as happy, if not, happier than most Americans. However, my favorite type of trips are cruises which I have been on a total of 7 times and have by far the best time doing. </p>
</html>